---
# Only the main Sass file needs front matter (the dashes are enough)
---

@charset "utf-8";

// Width of the content area
$content-width:    900px;
$on-phone:         450px;
$on-palm:          660px;
$on-laptop:        1000px;

@mixin media-query($device) {
    @media screen and (max-width: $device) {
        @content;
    }
}

// Import partials from `sass_dir` (defaults to `_sass`)
// Do not make any changes to this file. Go to /_sass and find the appropriate SCSS file and make changes there.
@import
        "variables",
        "footer-social",
        "projects",
        "profile",
        "footer",
        "style",
        "google-fonts"
;

.row {
    width:100%;
    display: block;

    // base definition
    .column{
        float:left;
        display: block;
        box-sizing: border-box;
    }
    .full-width {
        @extend .column;
        width:100%;
    }
    .half-width {
        @extend .column;
        @media screen and (min-width: $on-palm) {
            width: 48%;
        }
    }
    .one-third-width {
        @extend .column;
        width: 31.3333333%;
    }
    .one-tenth-width {
        @extend .column;
        width: 10%;
    }
    .nine-tenth-width {
        @extend .column;
        @media screen and (min-width: $on-palm) {
            width: 90%;
        }
    }
    .two-third-width {
        @extend .column;
        @media screen and (min-width: $on-palm) {
            width: 64.6666666%;
        }
    }
    @media screen and (min-width: $on-palm) {
        .left {
            margin-left: 0;
            margin-right: 2%;
        }
        .right {
            margin-left: 2%;
            margin-right: 0;
        }
    }
    &::after{
        content: "";
        display: table;
        clear: both;
    }
}